# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.yarn
node_modules

# Maven target
target
.m2/repository
.mvn

libs/openapi/*/client/src/
libs/openapi/*/server/src/