config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true
lombok.accessors.chain = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

lombok.builder.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.sneakythrows.flagUsage = ERROR
lombok.wither.flagUsage = ERROR
lombok.noArgsConstructor.flagUsage=ERROR
lombok.allArgsConstructor.flagUsage=ERROR
